@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');

* {
    font-family: 'Jua', sans-serif;
}

/*
 Global
*/

.img {
    width: 100%;
}

.w-50 {
    width: 200px;
}

.presentation {
    padding-top: 2em;
}