* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: cursive;
}
a {
    text-decoration: none;
}
li {
    list-style: none;
}

/* LOGO */
.logo {
    font-size: 32px;
}

.logo a {
    text-decoration: none;
    color: #fff;
}

.logo a:hover {
    background-color: #4c9e9e;
    border-radius: 5px;
    margin: 10px;
    transition: 0.3s ease;
}

/* STYLE NAVBAR */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: teal;
    color: #fff;
}
.nav-links a {
    color: #fff;
}

/* NAVBAR MENU */
.menu {
    display: flex;
    gap: 1em;
    font-size: 18px;
}
.menu li:hover {
    background-color: #4c9e9e;
    border-radius: 5px;
    transition: 0.3s ease;
}
.menu li {
    padding: 5px 14px;
}