.w-50 {
    width: 50% !important;    
}

.img {
    max-width: 100%;
}

.presentation {
    padding: 50px 0;
}

.wrapper-95 {
    width: 95%;
    margin: auto;
}

.presentation-col {
    margin: 1em;
}

.presentation-subtitle {
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 5px;
    margin-bottom: 20px;
}

.presentation-h2 {
    text-align: center;
}

.presentation-menu-wrapper {
    width: 95%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.presentation-row {
    padding: 30px 0;
}

.presentation-desc {
    color: #757575;
    font-size: 15px;
    line-height: 1.5em;
}
